<html>

<head>
    <link rel="stylesheet" type="text/css" href="/assets/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/codehilight.css">
    <style>
        .bg-img {
            background-image: url("/assets/trees.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
</head>

<body>
    <section class="hero is-dark is-medium bg-img">
        <img class="is-bg-img">
        <div class="hero-body">
            <div class="container">
                <a href="/{{ pages.index.url }}">
                    <h1 class="title">{{ site.title }}</h1>
                    <h2 class="subtitle">{{ site.subtitle }}</h2>
                </a>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <p class="title is-3">{{ currentPage.title }}</p>
                        {% if currentPage.group == "posts" %}
                        <p class="subtitle is-6">{{ currentPage.date }}</p>
                        {% if currentPage.tags|count > 0 %}
                        <p class="subtitle is-6"> Tags: 
                            {% for tag in currentPage.tags %}
                            <a href="/tags?t={{ tag }}">
                                {{ tag }}{{ ", " if not loop.last }}
                            </a>
                            {% endfor %}
                        </p>
                        {% endif %}
                        <br>
                        {% endif %}
                        {{ currentPage.content }}
                        {% if currentPage.group == "general" %}
                        <hr class="hr">
                        {% endif %}
                    </div>

                    {% if currentPage.group == "general" %}
                    <p class="title is-3">Posts</p>
                    {% for post in groups.posts %}
                    <a href="/{{ post.url }}">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">{{ post.title }}</p>
                                        <p class="subtitle is-6">{{ post.date }}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    {{ post.description }}
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="column is-2">
                    <aside class="menu">
                        <p class="menu-label">Pages</p>
                        <ul class="menu-list">
                            <li><a href="/{{ pages.index.url }}">Home</a></li>
                            <li>
                                <a>Posts</a>
                                <ul>
                                    {% for post in groups.posts %}
                                    <li><a href="/{{ post.url }}">{{ post.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
    </section>
</body>

</html>