{% extends "base.html" %}
{% block content %}
<div class="column">
    <div class="content">
        <p class="title is-3">{{ currentPage.title }}</p>
        <br>
        {{ currentPage.content }}
        <hr class="hr">
    </div>

    {% if currentPage.group == "tags" %}
    <p class="title is-3">Posts</p>
    {% for post in groups.posts %}
    {% if currentPage.extra.tag in post.tags %}
    <a href="/{{ post.url }}">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{ post.title }}</p>
                        <p class="subtitle is-6">{{ post.date }}</p>
                    </div>
                </div>
                <div class="content">
                    {{ post.description }}
                </div>
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endblock %}